<%- include("partials/header") -%>
<% if(featuredCategory){ %>
		<a href="/all/<%= featuredCategory._id %>" class="flyerbody">
			<img src="<%= featuredCategory.featureUrl %>">
		</a>
		<h3 class="mb-2 flayer-caption">
			<%= featuredCategory.name %>
		</h3>
<% } %>
		<div class="content-holder">
			<% categorys.forEach(function(cetagory){%>
			<div class="a2-row row mt-3 mb-4">
				<div class="col-lg-2 d-flex mb-2">
					<a class="ml-1 my-auto normalize-atag mr-2" href="/all/<%= cetagory._id %>">
						<h4 class="a2-cat-name d-inline a2-catname-h4">
							<%= cetagory.name %>
						</h4>
					</a>
					<% if(currentUser && (currentUser.admin == "true" || currentUser.admin == "owner")){ %>
					<a href="/all/<%= cetagory._id %>/edit" class="a2-edit-cat d-block btn-actions btn btn-outline-success">
						<i class="hammer-fix fas fa-hammer"></i>
					</a>
					<% }; %>
				</div>
				<div class="a2-col-content col-lg-10">
					<% cetagory.films.forEach(function(film){ %>
					<a href="all/<%= cetagory._id %>/film/<%= film._id %>"><img src="<%= film.url %>" class="a2-film-ele image-thumbnail img-fluid mw-50" alt="Responsive image"></a>
					<% }); %>
				</div>
			</div>
			<% }); %>
			
			
			
			
			
			
			
			
		</div>
<%- include("partials/footer") -%>