<%- include("../partials/header") -%>
<div class="container">
	<div class="edit-title fluid-container mt-2">
		<h1>
			Edit <%= category.title %>
		</h1>
		<form class="ml-auto" action="/all/<%= category._id %>?_method=DELETE" method="POST">
			<button class="btn-actions btn btn-outline-success">
				Delete
			</button>
		</form>
	</div>
	<form id="category-form" action="/all/<%= category._id %>?_method=PUT" method="POST">
		<input type="text" name="title" placeholder="category name" value="<%= category.name %>">
		<textarea form="category-form" name="description" placeholder="film description" cols="50"><%= category.description %></textarea> 
		 
		<label class="lab-fix-01 d-inline" for="featured">Feature<input name="featured" id="lab-fix-02" class="ml-2 messageCheckbox d-inline" type="checkbox" value="true"
																 <% if(featured) { %>
																		checked 
																				<% } %>
																 >
		<input type="text" name="featuredUrl" placeholder="featured url" value="<%= category.featureUrl %>"></label>
		<button>
			Submit
		</button>
	</form>
</div>
<script>
</script>
<%- include("../partials/footer") -%>