<%- include("../../partials/header") -%>
<div class="container">
<p class="display-4">
		
</p>
	
<div id="show-film" class="">
	<iframe width="560" height="315" src="<%= film.embed %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

	<p class="display-4">
		<%= film.title %>
	</p>
	<div class="row">
		<div class="col-sm-3">
			<p>
				Credits 
			</p>
			<p>
				Director: <%= film.credits.director %>
			</p>
			<p>
				Cinematography: <%=  film.credits.cinematography %>
			</p>
			<p>
				Editor: <%= film.credits.editor %>
			</p>
			<p>
				Writer: <%= film.credits.writer %>
			</p>
		</div>
		<div class="col-sm-6">
			<p>
				Description
			</p>
			<p>
				<%= film.description %>
			</p>
		</div>
		<div class="col-sm-3">
			<p>
				Comments
			</p>
			<p>
				<% if(film.comments.length > 0){ %>
					<h6 class="d-inline">Author</h6>: 
					<%= film.comments[0].comment %>
				<% }else{ %>
					...
				<% } %>
			</p>
			<p>
				<% if(film.comments.length > 1){ %>
					<h6 class="d-inline">Author</h6>: 
					<%= film.comments[1].comment %>
				<% } else if(film.comments.length == 1){ %>
					...
				<% } else{ %>
					
				<% } %>
			</p>
			<p>
				<% if(film.comments.length > 1){ %> 
					...
				<% } else{ %>
					
				<% } %>
			</p>
			<a id="seelink-comments" href="/film/<%= film._id %>/comments" class="cat-show-comment-btn btn-actions btn btn-outline-success mb-2 mr-2">
				See all comments
			</a>
		</div>
	</div>
	<p class="display-4">
		Continue <%= cetagory.name %>
	</p>
	<div class="show-film-wCategory content-img-holder">
					<% cetagory.films.forEach(function(film){ %>
					<a href="all/<%= cetagory._id %>/film/<%= film._id %>"><img src="<%= film.url %>" class="image-thumbnail img-fluid" alt="Responsive image"></a>
					<% }); %>
				</div>
	
</div>
<script>
	//var descriptionSeeMore = document.getElementById();
</script>
<%- include("../../partials/footer") -%>